.navbar-brand i{
    transform: translateY(2px);
}

.button i {
    transform: translateY(1px);
    padding-right: 2px;
}

.button button{
    transform: translateX(22px);
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
}

.image-container:hover .overlay {
    opacity: 1;
}

.overlay-blur {
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
}

.image-container:hover .overlay-blur {
    opacity: 1;
}

.button {
    cursor: pointer;
}

.trailer-video {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn-voucher i{
    transform: translateY(2px);
}

.footer {
    background-color: gray;
}

.bx-copyright {
    transform: translateY(2px);
}

.btn-news i {
    transform: translateY(2px);
}

/* ------------------------------- page detail ---------------------------------- */
.banner-detail {
    height: 50vh;
}

.icon-detail-prd i {
    transform: translateY(2px);
}

.hotline-detail i {
    transform: translateY(2px);
}

.feed-back img {
    width: 50px;
    height: 50px;
}

/* ----------------------------- giới thiệu về chúng tôi -------------------------------- */
.card-profile {
    width: 100%;
}

.card-profile img {
    width: 100px;
    height: 150px;
}

.social i {
    font-size: 24px;
}
