<div class="container mt-4">
    <div ng-show="cart && cart.length > 0" class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Giỏ hàng</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in cart">
                                <td>{{$index+1}}</td>
                                <td>{{ item.name }}</td>
                                <td><input type="number" style="width: 70px;" class="form-control" ng-model="item.quantity" ng-change="saveCart()"></td>
                                <td>{{ item.price * item.quantity }}</td>
                                <td><button class="btn border border-danger" ng-click="delete($index)"><i class='bx bxs-trash text-danger'></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3 mt-lg-0 mt-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Hóa đơn</h5>
                </div>
                <div class="card-body">
                    <div class="bill-info">
                        <span class="bill-label">Tổng tiền:</span>
                        <span class="bill-total">{{ tinhtong() }}</span>
                    </div>
                    <div class="btn-delete-all">
                        <button class="btn border border-danger mt-2" ng-click="deleteAll()">Xóa hết</button>
                    </div>
                    <button ng-hide="!users.name" type="button" class="btn btn-primary mt-3 w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <a href="#!order" class="text-white text-decoration-none">Thanh toán</a>
                    </button>
                    <span ng-show="!users.name"><a href="#!login">Đăng nhập tại đây để thanh toán nhé</a></span>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="!cart || cart.length === 0" class="cart-empty d-flex justify-content-center">
        <img class="w-50" src="./public/img/imgPrivate/cart-empty.jpg" alt="">
    </div>
</div>