<style>
    html, body {
        height: 100%;

    }

    body {
        background-image: url('./public/img/imgPrivate/bannerauth.jpg');
    }
</style>
<body class="h-100">
    <div
        class="container d-flex justify-content-center align-items-center h-100 mt-5">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card p-4">
                <div class="card-header">
                    <h4 class="text-center">Đăng Nhập</h4>
                </div>
                <div class="card-body">
                    <form method="post" ng-submit="login()" name="formLogin">
                        <div ng-show="isErorr" class="alert alert-danger">
                            <p>Đăng nhập không thành công !!!</p>
                        </div>
                        <div class="form-group mt-2">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email"
                                ng-model="email"
                                class="form-control" required>
                                <span class="text-danger" ng-show="formLogin.email.$invalid && formLogin.email.$touched">
                                    Bạn chưa nhập Email
                                </span>
                        </div>
                        <div class="form-group mt-2">
                            <label for="password">Password:</label>
                            <div class="input-group">
                                <input type="password" id="password"
                                    name="password" class="form-control"
                                 ng-model="password" required>
                                <div class="input-group-append">
                                    <button ng-click="showpassword()"
                                        class="btn btn-outline-secondary"
                                        type="button" id="togglePassword">
                                        hiện
                                    </button>
                                </div>
                            </div>
                            <span class="text-danger" ng-show="formLogin.password.$invalid && formLogin.password.$touched">
                                Bạn chưa nhập Mật khẩu
                            </span>
                        </div>
                        <button type="submit"
                            class="btn btn-primary mt-3 text-white w-100">Đăng nhập</button>
                        <p class="text-center pt-4">Bạn chưa có tài khoản ?</p>
                        <button
                            class="btn border-primary btn-transparence mt-3 text-white w-100"><a
                                class="text-decoration-none text-pribtn-primary"
                                href="#!register">Đăng kí</a>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script
        src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
