<div class="container my-5 d-flex justify-content-center align-items-center">
    <form class="border border-primary" ng-submit="login()" style="width: 300px; box-shadow: rgba(0, 123, 255, 0.4) 5px 5px, rgba(0, 123, 255, 0.3) 10px 10px, rgba(0, 123, 255, 0.2) 15px 15px, rgba(0, 123, 255, 0.1) 20px 20px, rgba(0, 123, 255, 0.05) 25px 25px; padding: 20px;">
        <div ng-show="isErorr" class="alert alert-danger">
            <p>Đăng nhập không thành công !!!</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control border-0" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="email" style="border-radius: 5px;">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <div class="input-group">
                <input type="password" class="form-control border-0" id="exampleInputPassword1" ng-model="password" style="border-radius: 5px;">
                <button class="btn btn-outline-secondary border-0" type="button" id="togglePassword">Hiện</button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Đăng nhập</button>
    </form>
</div>

<script>
    const togglePassword = document.getElementById('togglePassword');
    const password = document.getElementById('exampleInputPassword1');

    togglePassword.addEventListener('click', function() {
        if (password.type === 'password') {
            password.type = 'text';
            togglePassword.textContent = 'Ẩn';
        } else {
            password.type = 'password';
            togglePassword.textContent = 'Hiện';
        }
    });
</script>
