<div class="container mt-5">
    <h1 class="mb-4">Lịch sử mua hàng</h1>
    <div class="row">
        <div class="col-md-6" ng-repeat="order in lichsumuahang">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ order.name }}</h5>
                    <p class="card-text">Số điện thoại: {{ order.phone }}</p>
                    <p class="card-text">Địa chỉ: {{ order.address1 }}, {{ order.address2.province }}, {{ order.address2.district }}, {{ order.address2.ward }}</p>
                    <p class="card-text">Tổng tiền: {{ order.total | number }} VND</p>
                    <p class="card-text">Trạng thái: {{ order.status }} 
                        <button ng-show="order.status === 'Chờ xác nhận'" ng-click="changeStatus()" class="btn btn-danger">Hủy vé</button>
                    </p>
                    <p class="card-text">Ngày đặt hàng: {{ order.date }}</p>
                    <h6 class="mt-3">Sản phẩm:</h6>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="product in order.product">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="../public/img/imgPrd/{{ product.image }}.jpeg" alt="{{ product.name }}" class="img-fluid" style="max-height: 100px;">
                                </div>
                                <div class="col-md-8">
                                    <h6>{{ product.name }}</h6>
                                    <p>Giá: {{ product.price | number}} VND</p>
                                    <p>Số lượng: {{ product.quantity }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
