<style>
    html, body {
        height: 100%;

    }

    body {
        background-image: url('./public/img/imgPrivate/bannerauth.jpg');
    }
</style>
<body class="h-100">
    <div
        class="container d-flex justify-content-center align-items-center h-100 mt-5">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card p-4">
                <div class="card-header">
                    <h4 class="text-center">Đăng kí</h4>
                </div>
                <div class="card-body">
                    <form method="post" ng-submit="register()" name="formRegister">
                        <div ng-show="isErorr" class="alert alert-danger">
                            <p>Đăng kí không thành công !!!</p>
                        </div>
                        <div class="form-group mt-2">
                            <label for="name">Họ và tên:</label>
                            <input type="name" id="name" name="name"
                                ng-model="name"
                                class="form-control" required>
                            <span class="text-danger" ng-show="formRegister.name.$invalid && formRegister.name.$touched">
                                Bạn chưa nhập Họ tên
                            </span>
                        </div>
                        <div class="form-group mt-2">
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email"
                                ng-model="email"
                                class="form-control" required>
                                <span class="text-danger" ng-show="formRegister.email.$invalid && formRegister.email.$touched">
                                    Bạn chưa nhập Email
                                </span>
                        </div>
                        <div class="form-group mt-2">
                            <label for="password">Password:</label>
                            <div class="input-group">
                                <input type="password" id="password"
                                    name="password" class="form-control"
                                 ng-model="password" required>
                                <div class="input-group-append">
                                    <button
                                        class="btn btn-outline-secondary"
                                        type="button" id="togglePassword">
                                        hiện
                                    </button>
                                </div>
                            </div>
                            <span class="text-danger" ng-show="formRegister.password.$invalid && formRegister.password.$touched">
                                Bạn chưa nhập Mật khẩu
                            </span>
                        </div>
                        <div class="form-group mt-2">
                            <label for="phone">Phone number:</label>
                            <input type="phone" id="phone" name="phone"
                                ng-model="phone"
                                class="form-control" required>
                                <span class="text-danger" ng-show="formRegister.phone.$invalid && formRegister.phone.$touched">
                                    Bạn chưa số điện thoại
                                </span>
                        </div>
                        <div class="form-group mt-2">
                            <label for="address">Address:</label>
                            <input type="address" id="address" name="address"
                                ng-model="address"
                                class="form-control" required>
                                <span class="text-danger" ng-show="formRegister.address.$invalid && formRegister.address.$touched">
                                    Bạn chưa địa chỉ
                                </span>
                        </div>
                        <input class="mx-2" type="checkbox" ng-model="agree" style="transform: translateY(1px);" required> Tôi đồng ý với điều khoản.
                        <div ng-show="agree">
                            <button type="submit"
                            class="btn btn-primary mt-3 text-white w-100">Đăng kí</button>
                        </div>
                        <p class="text-center pt-4">Bạn đã có tài khoản ?</p>
                        <button
                            class="btn border-primary btn-transparence mt-3 text-white w-100"><a
                                class="text-decoration-none text-pribtn-primary"
                                href="#!login">Đăng nhập</a>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script
        src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const togglePassword = document.getElementById('togglePassword');
        const password = document.getElementById('password');

        togglePassword.addEventListener('click', function() {
            if (password.type === 'password') {
                password.type = 'text';
                togglePassword.textContent = 'Ẩn';
            } else {
                password.type = 'password';
                togglePassword.textContent = 'Hiện';
            }
        });
    </script>
</body>
